<main>
  <div *ngIf="userparsed">
  <nav class="nav-bg">
    <img src="./../../assets/icon-resource/buyer.png" class="logo">

        <li style="margin-left: 35rem;"><a class="nav-btn" style="color: antiquewhite;" [routerLink]="['/home']">Home</a></li>
<div>
    <img [src]="profileurl" #toggleButton class="user-pic" (click)="toggleMenu()" (error)="onProfilePicError()" referrerpolicy="no-referrer" >
</div>
   <div class="sub-menu-wrap" id="subMenu" #menu [ngClass]="show?'open-menu':''">
    <div class="sub-menu" id="openmenu" >
        <div class="user-info" style="cursor: pointer;">
          <div class="profiledp">
            <img [src]="profileurl">
          </div>
            <h3>{{userName}}</h3>
        </div>
        <hr>
        <a href="#"  class="sub-menu-link">
            <img src="./../../assets/icon-resource/setting.png">
            <p>Settings & Privacy</p>
        </a>
        <a href="#" class="sub-menu-link">
            <img src="./../../assets/icon-resource/help.png">
            <p>Help & Support</p>
        </a>
        <a (click)="user.logout()" href="#" class="sub-menu-link">
            <img src="./../../assets/icon-resource/logout.png">
            <p>Logout</p>
        </a>
    </div>
   </div>
</nav>
</div>
</main>


